@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;700&display=swap');

// Colors
$gray-text: #A9ABA9;


// Flex configs
%center_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%space_between_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%space_around_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


%main_large {
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 2rem;
}

%main_medium {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

%minor_small {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}


%box_shadow {
    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
}


// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) 
and(orientation: landscape) {

}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {

}

// Low end Tablet landscape
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

// Mid Tablet Portrait
@media only screen 
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (min-device-height: 1112px) 
and (max-device-height: 1112px) 
and (orientation: portrait) {

}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {

}

 // High end Tablet Portrait
 @media only screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1024px) 
 and (min-device-height: 1366px) 
 and (max-device-height: 1366px) 
 and (orientation: portrait) {

 }

 // High end Tablet Landscape
@media only screen 
and (min-device-height: 1024px) 
and (max-device-height: 1024px) 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) {

}

// Laptop
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1680px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    
}