@import './config';

.alert_container {
    @extend %center_flex;
    position: absolute;
    width: 100vw;
    top: 5%;

    .alert {
        @extend %center_flex;
        background: white;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        padding: 10px 15px;
        border-radius: 10px;
        z-index: 3;

        .close_button {
            margin-left: 10px;
            cursor: pointer;
        }
    }
    
    .alert_danger {
        background: #ff4444;
        color: white;
    }

    .alert_green {
        background: green;
        color: white;
    }

}
