@import './config';


.comment {
    position: relative;
    display: flex;
    border-left: 3px solid #ebbcaf;
    min-height: 50px;
    width: 100%;
    padding: 2px 10px;
    margin-top: 20px;
    transition: 0.3s all ease-in-out;

    .delete_edit_comment {
        position: absolute;
        display: flex;
        flex-direction: column;

        top: 0;
        left: -50px;
        height: 70px;
        width: 50px;

        .edit_container,
        .delete_container {
            @extend %center_flex;
            height: 50%;
            width: 100%;
            cursor: pointer;
            .icon {
                color: rgb(83, 83, 83);
                transition: 0.3s all ease-in-out;


                &:hover {
                    color: rgb(173, 173, 173);
                }
            }
        }
    }

    .comment_container {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;

        h3 {
            @extend %minor_small;
            font-size: 0.8rem;
            font-weight: 300;
            width: 70%;
        }

        .by {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 30%;

            h4 {
                @extend %minor_small;
                font-size: 0.7rem;
                font-weight: 300;
                color: $gray_text;
            }
        }
    }
}


// Retina Screens Laptop
@media screen 
    and (min-device-width: 1930px) 
    and (max-device-width: 2880px)  {
        .comment {
            justify-content: flex-end;
            min-height: 100px;
            padding: 10px 15px;
            border-left: none;
            
            .delete_edit_comment {
                left: -60px;
                width: 100px;
                height: 120px;

                .edit_container,
                .delete_container {

                    .icon {
                        font-size: 2rem;
                    }
                }
            }

            .comment_container {
                flex-direction: column;
                width: 95%;
                h3 {
                    min-height: 100px;
                    height: auto;
                    font-size: 1.5rem;
                    width: 100%;
                    border-left: 3px solid #ebbcaf;
                    padding-left: 30px;

                }

                .by {
                    align-items: flex-start;
                    padding-left: 30px;
                    
                    h4 {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }