@import "./config";

.courses_container {
    @extend %center_flex;
    padding: 0 2%;
    position: absolute;
    width: 25vw;
    height: 100vh;
    left: 20vw;

    .courses {
        @extend %center_flex;
        width: 100%;
        height: 100%;

        .inner {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90vh;
            width: 100%;
            padding: 3% 5%;
            border-radius: 20px;
            background: #f9f9f8;

            .course_card {
                display: flex;
                flex-direction: column;
                padding: 10% 5%;
                width: 100%;
                background: white;
                border-radius: 20px;

                .icon_button_container {
                    @extend %space_between_flex;

                    .icon_container {
                        @extend %center_flex;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        margin-bottom: 10px;
                        z-index: 2;
                        .icon {
                            font-size: 1.5rem;
                        }
                    }

                    .bookClub {
                        background: #fb6542;

                        .icon {
                            color: white;
                        }
                    }

                    .english {
                        background: #3f681c;
                        .icon {
                            color: white;
                        }
                    }

                    .math {
                        background: #375e97;
                        .icon {
                            color: white;
                        }
                    }

                    .course_button {
                        position: relative;
                        background: none;
                        border: none;
                        cursor: pointer;
                        outline: none;

                        .icon {
                            font-size: 1.5rem;
                            color: black;
                            transition: 0.3s all ease-in;
                        }

                        h3 {
                            position: absolute;
                            top: 2px;
                            left: -22px;
                            z-index: 0;
                            padding: 5px;
                            background: $gray_text;
                            border-radius: 10px;
                            color: white;
                            @extend %minor_small;
                            transition: 0.3s all ease-in;
                            transform: translateX(-25px);
                            opacity: 0;
                        }

                        .current_icon {
                            transform: translateX(25px);
                            opacity: 0;
                        }

                        .current_text {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
                .instructor {
                    @extend %minor_small;
                    font-weight: 300;
                    margin-bottom: 2px;
                    color: $gray_text;
                }

                .title {
                    @extend %main_medium;
                    font-size: 1.3rem;
                }

                .time {
                    @extend %minor_small;
                    font-weight: 300;
                    font-size: 0.7rem;
                    color: $gray_text;
                    margin-bottom: 5px;
                }

                .info {
                    @extend %minor_small;
                    font-weight: 300;
                }
            }
        }
    }
}

// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .courses_container {
        width: 100vw;
        left: 0;
        height: auto;

        .courses {
            height: auto;
            padding: 2% 0;

            .inner {
                background: none;
                height: auto;
                padding: 0 3%;

                .course_card {
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    margin-bottom: 10%;
                    min-height: 300px;
                    padding: 10% 10%;
                }
            }
        }
    }
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: landscape) {
    .courses_container {
        width: 100vw;
        left: 0;
        height: auto;

        .courses {
            height: auto;

            .inner {
                height: auto;
                background: none;

                .course_card {
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {
    .courses_container {
        .courses {
            .inner {
                padding: 3% 20%;
            }
        }
    }
}

// Low end Tablet landscape
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .courses_container {
          width: 45%;
          height: auto;
          left: 0;
          border-right: 1px solid rgb(182, 182, 182);
          overflow-y: scroll;

          .courses {
              height: auto;

              .inner {
                  height: auto;
                  background: none;
                
                  .course_card {
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    margin-bottom: 40px;
                  }
              }
          }
      }
  }

  // Mid Tablet Portrait
  @media only screen 
  and (min-device-width: 823px) 
  and (max-device-width: 823px) 
  and (min-device-height: 1112px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) {
    .courses_container {
        left: 0;
        height: auto;
        width: 100vw;

        .courses {
            height: auto;

            .inner {
                background: none;
                height: auto;

                .course_card {
                    min-height: 350px;
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    margin-bottom: 40px;

                    .icon_button_container {
                        .icon_container {
                            height: 60px;
                            width: 60px;

                            .icon {
                                font-size: 1.7rem;
                            }
                        }
                    }

                    .instructor {
                        font-size: 1rem;
                    }

                    .title {
                        font-size: 1.5rem;
                    }

                    .time {
                        font-size: 1rem;
                    }

                    .info {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {
        .courses_container {
            width: 45%;
            height: auto;
            left: 0;
            border-right: 1px solid rgb(182, 182, 182);
            overflow-y: scroll;
  
            .courses {
                height: auto;
  
                .inner {
                    height: auto;
                    background: none;
                  
                    .course_card {
                      box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                      margin-bottom: 40px;
                    }
                }
            }
        
    }
}

 // High end Tablet Portrait
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (min-device-height: 1366px) 
and (max-device-height: 1366px) 
and (orientation: portrait) {
    .courses_container {
        left: 0;
        height: auto;
        width: 100vw;

        .courses {
            height: auto;

            .inner {
                background: none;
                height: auto;

                .course_card {
                    min-height: 400px;
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    margin-bottom: 40px;

                    .icon_button_container {
                        .icon_container {
                            height: 100px;
                            width: 100px;

                            .icon {
                                font-size: 2.5rem;
                            }
                        }

                        .course_button {
                            .icon {
                                font-size: 3rem;
                            }

                            h3 {
                                font-size: 1.5rem;
                                left: -35px;
                                padding: 10px;
                            }
                        }
                    }

                    .instructor {
                        font-size: 1.5rem;
                    }

                    .title {
                        font-size: 2.2rem;
                    }

                    .time {
                        font-size: 1.5rem;
                    }

                    .info {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

// High end Tablet Landscape
@media only screen 
and (min-device-height: 1024px) 
and (max-device-height: 1024px) 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) {
    .courses_container {
        width: 45%;
        height: auto;
        left: 0;
        border-right: 1px solid rgb(182, 182, 182);
        overflow-y: scroll;

        .courses {
            height: auto;

            .inner {
                height: auto;
                background: none;
              
                .course_card {
                  box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                  margin-bottom: 40px;
                  min-height: 300px;
                  
                  .icon_button_container {
                      .icon_container {
                            height: 70px;
                            width: 70px;
                            .icon {
                                font-size: 2rem;
                            }
                      }

                      .course_button {
                          .icon {
                              font-size: 2rem;
                          }

                          h3 {
                              font-size: 1.2rem;
                              left: -40px;
                          }
                      }
                  }

                  .instructor,
                  .time {
                    font-size: 0.9rem;
                  }

                  .title {
                      font-size: 1.5rem;
                  }

                  .info {
                      font-size: 1.1rem;
                      line-height: 1.5rem;
                  }
                }
            }
        }
    
}
}

// Laptop
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1680px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .courses_container {
        left: 17vw;
        width: 28vw;

        .courses {
            .inner {
                .course_card {
                    min-height: 30%;
                }
            }
        }
    }
}
// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    .courses_container {
        width: 28vw;

        .courses {
            .inner {
                .course_card {
                    min-height: 30%;
          

                    .icon_button_container {
                        .icon_container {
                            height: 90px;
                            width: 90px;
                            margin-bottom: 20px;

                            .icon {
                                font-size: 2.5rem;
                            }
                        }

                        .course_button {
                            .icon {
                                font-size: 3.2rem;
                            }

                            h3 {
                                font-size: 1.8rem;
                                padding: 10px 5px;
                                left: -50px;
                            }
                        }
                    }

                    .instructor {
                        font-size: 1.7rem;
                    }

                    .title {
                        font-size: 2.3rem;
                    }

                    .time {
                        font-size: 1.7rem;
                        margin-bottom: 10px;
                    }
                    .info {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}
