@import "./config";

.courses_container {
    @extend %center_flex;
    padding: 0% 2%;
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 20vw;

    .courses {
        @extend %center_flex;
        padding: 0% 2%;
        width: 50%;
        height: 100%;

        .inner {
            display: flex;
            flex-direction: column;
            height: 90vh;
            width: 100%;
            padding: 40px 30px;
            border-radius: 20px;
            background: #f9f9f8;

            .course_card {
                display: flex;
                flex-direction: column;
                padding: 30px;
                height: 270px;
                width: 100%;
                background: white;
                margin-bottom: 30px;
                border-radius: 20px;

                .icon_button_container {
                    @extend %space_between_flex;

                    .icon_container {
                        @extend %center_flex;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                        margin-bottom: 10px;
                        z-index: 2;
                        .icon {
                            font-size: 1.5rem;
                        }
                    }

                    .bookClub {
                        background: #fddfdf;

                        .icon {
                            color: #ffb3b3;
                        }
                    }

                    .english {
                        background:#F6CEC6;
                        .icon {
                            color: #DF5E44;
                        }
                    }

                    .math {
                        background: #dfeae9;
                        .icon {
                            color: #83aea7;
                        }
                    }

                    .course_button {
                        position: relative;
                        background: none;
                        border: none;
                        cursor: pointer;
                        outline: none;

                        .icon {
                            font-size: 1.5rem;
                            color: black;
                            transition: 0.3s all ease-in;
                        }

                        h3 {
                            position: absolute;
                            top: 2px;
                            left: -12px;
                            z-index: 0;
                            padding: 5px;
                            background: $gray_text;
                            border-radius: 10px;
                            color: white;
                            @extend %minor_small;
                            transition: 0.3s all ease-in;
                            transform: translateX(-25px);
                            opacity: 0;
                        }

                        .current_icon {
                            transform: translateX(25px);
                            opacity: 0;
                        }

                        .current_text {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
                .instructor {
                    @extend %minor_small;
                    font-weight: 300;
                    margin-bottom: 2px;
                    color: $gray_text;
                }

                .title {
                    @extend %main_medium;
                    font-size: 1.3rem;
                }

                .time {
                    @extend %minor_small;
                    font-weight: 300;
                    font-size: 0.7rem;
                    color: $gray_text;
                    margin-bottom: 5px;
                }

                .info {
                    @extend %minor_small;
                    font-weight: 300;
                }
            }
        }
    }

    .posts_container {
        @extend %center_flex;
        padding: 0% 2%;
        width: 50%;
        height: 100%;
        overflow-y: overlay;

        &::-webkit-scrollbar  {
            width: 2px;
        
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(194, 194, 194);
            border-radius: 10px;
            outline: none;
        }

        &::-webkit-scrollbar-track {
            margin: 100px 0;

        }


        .inner {
            display: flex;
            flex-direction: column;
            height: 90vh;
            width: 100%;
            padding: 40px 15px;
            border-radius: 20px;

            .no_post_container {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 270px;
                border-radius: 20px;
                padding: 5%;
                @extend %box_shadow;

                img {
                    width: 70%;
                    height: auto;
                    margin-bottom: 30px;
                }

                h1 {
                    @extend %minor_small;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

// Iphone X
@media screen and (max-width: 430px) {
    .courses_container {
        width: 100vw;
        left: 0;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
     
        .courses {
           
            width: 100%;
            height: auto;
            transition: 0.3s all ease-in-out;
           

            .inner {
                height: auto;
                padding: 20px 20px;
                background: none;

                .course_card {
                    box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                }

            }
        }

        .courses_slide {
            transform: translateX(-100%);
        }

        .posts_container {
            position: absolute;
            top: 15px;
            left: 0;
            width: 100%;
            height: auto;
            transform: translateX(100%);
            transition: 0.3s all ease-in-out;
            overflow: visible;

            .inner {
                height: auto;
                
                .courses_post_form_container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
                }
            }

        
        }

        .posts_slide {
            transform: translateX(0);
        }


    }

    .posts_back_button_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 80px;
        position: absolute;
        left: 20px;
        top: -10px;
        z-index: 5;
        border-radius: 20px;
        background: white;
        box-shadow: 0 1px 15px -5px rgb(148, 148, 148);

        transition: 0.3s all ease-in-out;
        opacity: 0;

        h3 {
            font-family: 'Arvo', serif;
            font-weight: 400;
            margin-left: 5px;
        }

    }

    .show_mobile_back_button {
        top: 20px;
        left: 20px;
        opacity: 1;
    }
}