@import "./config";

.login {
    @extend %center_flex;
    height: 100vh;
    width: 100vw;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .login_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding: 10vh 0;
        width: 30%;
        box-shadow: 0 1px 15px -10px rgb(148, 148, 148);
        border-radius: 10px;

        background: white;
        z-index: 2;

        .logo {
            @extend %center_flex;
            padding: 20px 30px;

            background: #8675a9;
            border-radius: 10px;

            .hexagon {
                font-size: 2.5rem;
                margin-right: 10px;
                color: #f9f9f9;
            }
            span {
                font-family: "Raleway", sans-serif;
                font-size: 2rem;
                font-weight: 500;
                color: #f9f9f9;
            }
        }

        .login_form {
            display: flex;

            flex-direction: column;
            height: auto;
            width: 55%;

            .input_wrapper {
                padding: 20% 0;
                height: 40%;
                width: 100%;

                .form_group {
                    height: 3rem;
                    width: 100%;
                    margin-bottom: 20px;

                    input {
                        height: 100%;
                        width: 100%;
                        font-family: "Open Sans", sans-serif;
                        font-weight: 300;
                        font-size: 0.8rem;
                        text-align: center;
                        border: 1px solid rgb(170, 169, 169);
                        box-shadow: 0 1px 15px -10px rgb(148, 148, 148);
                        border: none;

                        border-radius: 5px;
                        outline: none;
                        transition: all 0.5s ease-in;

                        &:focus {
                            border: none;
                            background: #f9f9f9;

                            &::placeholder {
                                display: none;
                            }
                        }
                    }
                }
            }

            .button_container {
                @extend %center_flex;
                height: auto;
                width: 100%;
                margin-bottom: 15px;

                .button {
                    font-family: "Raleway", sans-serif;
                    font-weight: 500;
                    font-size: 1.1rem;
                    color: #ffd5cd;
                    border: 2px solid #ffd5cd;
                    background: white;
                    padding: 25px 45px;

                    cursor: pointer;
                    transition: 0.4s all ease-in;
                    -webkit-appearance: none;
                    -webkit-border-radius: 0;
                    border-radius: 5px;

                    &:hover {
                        background: #ffd5cd;
                        color: white;
                    }
                }

                input[type="search"] {
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                }

                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                }
            }

            .route_to_register {
                @extend %center_flex;
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
                font-size: 0.7rem;

                .small_link {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    font-size: 0.7rem;
                    transition: 0.2s all ease-in;
                    margin: 0 0.2rem;

                    &:hover {
                        color: #ffb2b2;
                    }
                }
            }
        }
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .login_content {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}

// 4k
@media screen and (min-device-width: 2400px) and (max-device-width: 3200px) {
    .login {
        .login_content {
            width: 35%;

            .logo {
                padding: 3% 5%;

                .hexagon {
                    font-size: 4rem;
                }

                span {
                    font-size: 4.5rem;
                }
            }

            .login_form {
                width: 60%;
                .input_wrapper {
                    .form_group {
                        height: 6rem;
                        margin-bottom: 7%;

                        input {
                            font-size: 2rem;
                        }
                    }
                }

                .button_container {
                    height: auto;
                    width: 100%;

                    .button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.5rem;
                        padding: 7% 20%;
                    }
                }

                .route_to_register {
                    font-size: 1.2rem;
                    margin-top: 30px;

                    .small_link {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}


// Phone
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .login {
        background: white;
        height: 100vh;
        width: 100vw;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        z-index: 10;

        .login_content {
            width: 100%;
            box-shadow: none;

            .logo {
                width: 80%;
            }

            .login_form {
                width: 80%;
                height: auto;

                .button_container {
                    margin-top: 0px;

                    .button {
                        color: white;
                        background: #ffd5cd;
                    }
                }
            }

            .button_container {
            }
        }
    }
}


// Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (min-height: 1024px) {
    .login {
        .login_content {
            width: 70%;

            .logo {
                padding: 30px 0;
            }

            .login_form {
                width: 80%;

                .input_wrapper {
                    padding: 20% 0 10% 0;
                    height: auto;
                    .form_group {
                        height: 4rem;
                        margin-bottom: 40px;

                        input {
                            font-size: 1.1rem;
                        }
                    }
                }

                .button_container {
                    .button {
                        font-size: 1.2rem;
                        padding: 30px 50px;
                    }

                }

                .route_to_register {
                    font-size: 0.9rem;

                    .small_link {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}