@import "config";

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    padding: 3% 5%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .navbar_logo {
        display: flex;
        @extend %main_medium;

        .hexagon {
            font-size: 2rem;
            color: #cc5737;
        }

        span {
            font-size: 1.5rem;
            font-weight: 700;
            margin-left: 10px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        height: auto;
        list-style-type: none;
        transform: translateY(-170px);

        li {
            @extend %minor_small;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 120px;
            text-decoration: none;

            margin-bottom: 25px;
            cursor: pointer;

            .link {
                font-size: 1rem;
                color: $gray_text;
                transition: 0.2s all ease-in;

                .icon {
                    font-size: 1.3rem;
                    margin-right: 20px;
                    transform: translateY(5px);
                }

                &:hover {
                    color: black;
                }
            }

            .selected {
                color: black;
            }
        }
    }

    .user {
        @extend %center_flex;
        height: auto;
        width: 100%;
        position: relative;

        .user_block {
            display: flex;
            height: auto;
            width: 100%;
            transition: 0.2s all ease-in;
            padding: 5px;
            border-radius: 10px;
            background: white;
            z-index: 2;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .user_info {
                margin-left: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                @extend %minor_small;
                font-size: 0.8rem;
                font-weight: 700;

                span {
                    color: $gray_text;
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin-top: 5px;
                }
            }
        }
    }
}

// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .navbar {
        display: none;
    }
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: landscape) {
    .navbar {
        display: none;
    }
}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {
    .navbar {
        display: none;
    }
}

// Low end Tablet landscape
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .navbar {
          display: none;
      }
  }

  // Mid Tablet Portrait
@media only screen 
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (min-device-height: 1112px) 
and (max-device-height: 1112px) 
and (orientation: portrait) {
    .navbar {
        display: none;
    }
}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {
    .navbar {
        display: none;
    }
}

// High end Tablet Portrait
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (min-device-height: 1366px) 
and (max-device-height: 1366px) 
and (orientation: portrait) {
    .navbar {
        display: none;
    }
}

// High end Tablet Landscape
@media only screen 
and (min-device-height: 1024px) 
and (max-device-height: 1024px) 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) {
    .navbar {
        display: none;
    }
}

// Laptop
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1680px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .navbar {
          width: 17vw;
          padding: 5% 0 5% 4%;

          ul {
              
          }

      }
  }


// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    .navbar {
        width: 20vw;
        padding: 5% 4%;

        .navbar_logo {
            width: 100%;
            .hexagon {
                font-size: 3rem;
            }

            span {
                font-size: 2.7rem;
            }
        }

        ul {
            transform: translateY(-300px);
            width: 100%;
            align-items: flex-start;

            li {
                width: 100%;
                justify-content: flex-start;
                margin-bottom: 50px;
                justify-content: center;


                .link {
                    font-size: 2rem;
                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }

        .user {
            .user_block {
                padding: 10px;

                img {
                    height: 80px;
                    width: 80px;

                }

                .user_info {
                    margin-left: 30px;

                    font-size: 1.5rem;

                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}