@import "./config";

.post_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 70px;

    width: 95%;
    margin-bottom: 30px;

    .delete_edit {
        position: absolute;
        top: 0;
        left: 0px;
        height: 70px;
        width: 50px;
        padding: 2px 10px;
        transition: 0.3s all ease-in-out;
        z-index: 2;

        .edit_container,
        .delete_container {
            @extend %center_flex;
            height: 50%;
            width: 100%;
            cursor: pointer;
        }
    }



    .post {
        @extend %space_between_flex;
        align-items: flex-start;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 10px;
      
        height: auto;
        width: 100%;
        padding: 2px 0;
        z-index: 2;
        transition: 0.3s all ease-in-out;
        

        .left,
        .right {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;

            h3 {
                @extend %minor_small;
                font-size: 0.8rem;
            }
        }

        .left {
            width: 65%;
            padding-left: 10px;
            transition: 0.3s all ease-in-out;

            h3 {
                font-weight: 300;
                span {
                    @extend %minor_small;
                    font-size: 0.8rem;
                    font-weight: 700;
                }
            }

            .homework {
                margin-bottom: 10px;
            }
        }

        .minify {
            transform: translateX(50px);
         }

        .satMath,
        .algebraMath,
        .prealgebraMath {
            border-left: 3px solid #375e97;
        }
    
        .bookClub {
            border-left: 3px solid #fb6542;
        }
    
        .english {
            border-left: 3px solid #3f681c;
        }
        
    

        .right {
            width: 100px;
            height: 100%;
    

            .by {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 10px;
                h3 {
                    color: $gray_text;
                    font-size: 0.7rem;
                }
            }

            .dopamine {
                @extend %space_between_flex;

                .button_container {
                    @extend %center_flex;

                    h4 {
                        @extend %center_flex;
                        @extend %minor_small;
                        font-size: 0.6rem;
                        background: $gray_text;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        color: white;
                        transform: translate(-10px, -10px);
                    }

                    .likes_count {
                        background: #ff6961;
                    }

                    .comments_count {
                        background: #61a8ff;
                    }
                }

                button {
                    padding: 5px 5px 0 5px;
                    @extend %center_flex;
                    background: none;
                    outline: none;
                    border: none;
                    cursor: pointer;

                    .liked {
                        color: #ff6961;
                        font-size: 1.3rem;
                    }

                    .no_like {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

   


    .comments {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-left: 30px;
        
    }
}


// Iphone X
@media screen and (max-width: 430px) {
    .post_container {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        
        .delete_edit {
            left: -40px;
            top: -2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 74px;
            width: 0%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 3;
            transition-delay: 0.2s;
            transition: 0.3s all ease-in-out;

            .edit_container,
            .delete_container {
                height: 100%;
                color: white;
            }

            .edit_container {
                background: #61a8ff;
            }

            .delete_container {
                background:  #ff6961;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }


        }

        .slide_delete_edit_M {
            width: 60%;
            left: -10px;
        }

        .post {
            width: 95%;

            .left,
            .right {
                min-height: 70px;
                height: 100%;
            }

            
        }
    }
}