@import "./config";

.post_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 30px;

    .delete_edit {
        position: absolute;
        top: 0;
        left: -50px;
        height: 70px;
        width: 50px;
        padding: 2px 10px;
        transition: 0.3s all ease-in-out;
        transition-delay: 0.2s;

        .edit_container,
        .delete_container {
            @extend %center_flex;
            height: 50%;
            width: 100%;
            cursor: pointer;
        }
    }

    .post {
        @extend %space_between_flex;
        height: 70px;
        width: 100%;
        border-left: 3px solid #cc5737;
        padding: 2px 10px;
        z-index: 2;
        transition: 0.3s all ease-in-out;

        .left,
        .right {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;

            h3 {
                @extend %minor_small;
                font-size: 0.8rem;
            }
        }

        .left {
            width: 70%;

            h3 {
                font-weight: 300;
                span {
                    @extend %minor_small;
                    font-size: 0.8rem;
                    font-weight: 700;
                }
            }
        }

        .right {
            width: 30%;

            .by {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h3 {
                    color: $gray_text;
                    font-size: 0.7rem;
                }
            }

            .dopamine {
                @extend %space_between_flex;

                .button_container {
                    @extend %center_flex;

                    h4 {
                        @extend %center_flex;
                        @extend %minor_small;
                        font-size: 0.6rem;
                        background: $gray_text;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        color: white;
                        transform: translate(-10px, -10px);
                    }

                    .likes_count {
                        background: #ff6961;
                    }

                    .comments_count {
                        background: #61a8ff;
                    }
                }

                button {
                    padding: 5px 5px 0 5px;
                    @extend %center_flex;
                    background: none;
                    outline: none;
                    border: none;
                    cursor: pointer;

                    .liked {
                        color: #ff6961;
                        font-size: 1.3rem;
                    }

                    .no_like {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .slide_post {
        transform: translateX(50px);
    }



    .comments {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-left: 30px;
        
    }
}
