@import "./config";

.post_form_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-bottom: 20px;
   

    .title {
        @extend %space_between_flex;
        width: 65%;
        margin-bottom: 15px;

        h1 {
            @extend %main_medium;
        }

        .add_icon {
            @extend %center_flex;
            height: 35px;
            width: 35px;
            transition: 0.2s all ease-in;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: #cc5737;
                color: white;
            }

            .icon {
                font-size: 1.4rem;
            }

        }
    }


    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 100%;
        border:2px solid rgb(85, 85, 85);
        border-radius: 20px;
        padding: 0 20px;

        h3, h4 {
            @extend %minor_small;
        }

        h3 {
            font-weight: 700;
        }

        .due {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

    
            .due_text {

                h4 {
                    font-size: 0.6rem;
                }
            }

            input {
                width: 40%;
                height: 25px;
                @extend %minor_small;
                padding: 0 7px;
            }
        }

        .homework {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 10px;

            h3 {
                margin-bottom: 5px;
            }

            textarea {
                min-height: 75px;
                height: auto;
                width: 100%;
                resize: none;
                padding: 7px;
                @extend %minor_small;
                line-height: 1.1rem;
            }
           
        }


        .button_container {
            @extend %center_flex;
            height: 70px;
            width: 100%;

            .button {
                height: 50px;
                width: 100px;
                background: none;
                outline: none;
                border: 2px solid rgb(85, 85, 85);
                color: rgb(85, 85, 85);
                border-radius: 10px;
                @extend %main_medium;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.3s all ease-in;

                &:hover {
                    background: rgb(85, 85, 85);
                    border: 2px solid rgb(85, 85, 85);
                    color: white;
                }
            }
        }

    }
}

// Retina Screens Laptop
@media screen 
    and (min-device-width: 1930px) 
    and (max-device-width: 2880px)  {
        .post_form_container {
            margin-bottom: 40px;

            .title {
                width: 80%;
                
                h1 {
                    font-size: 3rem;
                }

                .add_icon {
                    height: 70px;
                    width: 70px;
                    padding: 10px;
                    .icon {
                        font-size: 3rem;
                    }
                }
            }

            .form {
                min-height: 400px;
                height: auto;
                padding: 30px 30px;

                h3, h4 {
                    font-size: 1.5rem;
                }

                .due {
                    margin-bottom: 20px;

                    .due_text {
                        h4 {
                            font-size: 1.2rem;
                        }
                    }

                    input {
                        width: 50%;
                        font-size: 1.5rem;
                        height: 2rem;
                        border: 2px solid rgb(85, 85, 85);
                    }

                    
                }
                .homework {
                    margin-bottom: 20px;
                    textarea {
                        min-height: 250px;
                        font-size: 1.5rem;
                        border: 2px solid rgb(85, 85, 85);
                    }
                }

                .button_container {
                    height: 110px;

                    .button {
                        height: 100%;
                        width: 170px;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }

            }
        }
    }

// Iphone X
@media screen and (max-width: 430px) {

    .post_form_container {
        .title {
            width: 100%;

            .add_icon {
                box-shadow: 0 1px 15px -5px rgb(148, 148, 148);

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }

        .form {
            .button_container {

                .button {
                    background: rgb(85, 85, 85);
                    color: white;

                }
            }
        }
    }
}