@import './config';

.profile_container {
    @extend %center_flex;
    position: absolute;
    left: 20vw;
    top: 0;
    height: 100vh;
    width: 50vw;

    .inner_container {
        @extend %center_flex;
        flex-direction: column;
        height: 70vh;
        width: 50vw;
        border-radius: 20px;
        @extend %box_shadow;

        img {
            height: 40vh;
            margin-bottom: 40px;
        }

        h1 {
            @extend %main_large;
            font-size: 1.5rem;
            border-radius: 15px;
            padding: 10px 15px;
            background: #ffbb00;
            color: white;
        }

    }
}

// Retina Screens Laptop
@media screen 
    and (min-device-width: 1930px) 
    and (max-device-width: 2880px)  {
        .profile_container {

            .inner_container {

                h1 {
                    font-size: 2.8rem;
                    padding: 15px 20px;
                }
            }
        }
    }