@import './config';

.recommendations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30vw;
    padding: 3% 3% 3% 1%;


    .apps {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 0 0 30px;
        margin-bottom: 50px;

        .title {
            @extend %main_medium;
            color: #CC5737;
            margin-bottom: 50px;

            span {
                font-weight: 700;
                font-size: 1.5rem;
            }
        }

        .apps_container {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            .app_card {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            
                width: 70%;
                margin-bottom: 15px;
                text-decoration: none;
                color: black;
                transition: 0.3s all ease-in;
                border-radius: 15px;
                padding: 10px;
                cursor: pointer;
                

                &:hover {
                    @extend %box_shadow;
                }

                .logo {
                    @extend %center_flex;
                    border-radius: 15px;
                    height: 55px;
                    width: 55px;
                    margin-right: 30px;
                    
                    .icon {
                        font-size: 1.3rem;
                    }
                    
                }

                .content {
                    
                    h2 {
                        @extend %minor_small;
                        font-weight: 300;
                        color: $gray_text;
                        margin-bottom: 2px;

                    }
                    h3 {
                        @extend %minor_small;
                        font-weight: 700;
                        font-size: 0.9rem;
                    }
                }
            }

        }


    }


    .books {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #f9f9f8;
        padding: 30px;
        width: 100%;
        border-radius: 20px;

        .title {
            @extend %main_medium;
            margin-bottom: 20px;

            span {
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
        
        .books_container {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: auto;
           
            width: 100%;

            .book_card {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                margin-bottom: 10px;
                padding: 10px 20px;
                border-radius: 20px;
                color: black;
                transition: 0.3s all ease-in;

                &:hover {
                    background: #ffffff;
                }

                .content {
                    margin-right: 30px;
                    h2 {
                        @extend %minor_small;
                        font-weight: 700;
                        font-size: 1rem;
                        margin-bottom: 0.5rem;

                        span {
                            font-size: 0.7rem;
                            font-weight: 400;
                        }

                    }
                    h3 {
                        @extend %minor_small;
                        font-weight: 300;
                        font-size: 0.9rem;
                        color: $gray_text;
                    }
                }



                img {
                    height: 130px;
                    width: auto;
                    
                }
            }

        }

    }

}
// Retina Screens Laptop
@media screen 
    and (min-device-width: 1930px) 
    and (max-device-width: 2880px)  {
        .recommendations {
            width: 25vw;
        }
    }

@media screen and (max-width: 430px) {
    .recommendations {
        display: none;
    }
}


// Retina Screens Laptop
@media screen 
    and (min-device-width: 1930px) 
    and (max-device-width: 2880px)  {
        .recommendations {

            .apps {

                .title {
                    font-size: 3rem;

                    span {
                        font-size: 3rem;
                    }
                }

                .apps_container {

                    .app_card {
                        width: 90%;
                        margin-bottom: 25px;

                        .logo {
                            height: 90px;
                            width: 90px;

                            .icon {
                                font-size: 2rem;
                            }
                        }

                        .content {

                            h2 {
                                font-size: 1.5rem;
                            }
                            h3 {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }

            .books {

                .title {
                    font-size: 3rem;
                    span {
                        font-size: 3rem;
                    }
                }

                .books_container {

                    .book_card {
                        margin-bottom: 30px;
                        padding: 15px 30px;


                        .content {
                            h2 {
                                font-size: 2rem;
                                span {
                                    font-size: 1.5rem;
                                }
                            }
                            h3 {
                                font-size: 1.5rem;
                            }
                        }

                        img {
                            height: 230px;
                        }
                    }
                }
                
            }
        }
    }


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .recommendations {
        left: 0;
        top: 50vh;
        flex-direction: row;
        width: 100vw;

    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .recommendations {
        right: 0;
        top: 5vh;
        left: 65vw;
        flex-direction: column;
        width: 35vw;

        .apps {
            padding: 0;

            .title {
                margin-bottom: 20px;
            }

            .apps_container {

                .app_card {
                    margin-bottom: 10px;
                    padding: 5px;

                    .logo {
                        height: 40px;
                        width: 40px;

                        .icon {
                            font-size: 1rem;
                        }
                    }

                    .content {
                        h2 {
                            font-size: 0.7rem;
                        }

                        h3 {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        .books {
            padding: 20px;

            .title {
                margin-bottom: 10px;
            }

            .books_container {

                .book_card {
                    padding: 8px 15px;

                    .content {
                        margin-right: 20px;
                        h2 {
                            font-size: 0.8rem;

                            span {
                                font-size: 0.6rem;
                            }
                        }

                        h3 {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}